<link rel="apple-touch-icon" sizes="180x180" href="images/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/icons//favicon-32x32.png">
<link rel="icon" type="image/png" sizes="192x192" href="images/icons//android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/icons//favicon-16x16.png">
<link rel="manifest" href="images/icons//site.webmanifest">
<link rel="mask-icon" href="images/icons//safari-pinned-tab.svg" color="#6f42c1">

<link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
<link href="node_modules/owl.carousel/dist/assets/owl.carousel.css" rel="stylesheet">
<link href="stylesheets/global.css" rel="stylesheet">

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="Clein Francis B. Wepee">
<meta name="description" content="An anime repository for storing anime that you've finished watching, anime that you are currently watching, anime that you've postponed watching, and anime that you planned on watching. Some includes your favorite anime, characters, and voice actors/actresses.">
<meta name="keywords" content="Anime, Anime Repository, MAL, MyAnimeList">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<meta name="apple-mobile-web-app-title" content="Anime">
<meta name="application-name" content="Anime">
<meta name="msapplication-TileColor" content="#6f42c1">
<meta name="msapplication-TileImage" content="images/icons//mstile-144x144.png">
<meta name="theme-color" content="#6f42c1">

<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/@popperjs/core/dist/umd/popper.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script src="https://kit.fontawesome.com/d6185ec768.js" crossorigin="anonymous"></script>
<script src="node_modules/owl.carousel/dist/owl.carousel.js"></script>
<script src="javascripts/owl-carousel.js"></script>